.app1{
 
    height:100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    background: url('https://cdn.wallpapersafari.com/55/3/K7NcO1.gif') no-repeat center center fixed;
    background-size: cover;
    
    }
    .title{
      color: white;
      font-family: 'Pacifico', cursive;
      text-shadow: 3px;
      font-size: xxx-large;  
      justify-content: center;
    }
    
    .card{
     margin-top: 30vh;
     display: flex;
     align-items: center;
     flex-direction: column;
     
    }
    .image{
      
    }
    .but{
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .app2{
      height:100vh;
    width:100vw;
      background: url('https://cdn.wallpapersafari.com/55/3/K7NcO1.gif') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    
    
    }
    
    .timer{
      flex:0.3;
    }
    .quiz{
      flex:0.7;
      display: flex;
      flex-direction: row;
    
    }
    .words{
      flex:0.4;
    }
    
    
    .options{
      flex:0.6;
    }
    
    .app {
      background-color: #252d4a;
      
      width: 450px;
      min-height: 200px;
      height: min-content;
      border-radius: 15px;
      padding: 20px;
      box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
      display: flex;
      justify-content: space-evenly;
    }
    
    .score-section {
      display: flex;
      font-size: 24px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    /* QUESTION/TIMER/LEFT SECTION */
    .question-section {
      width: 100%;
      position: relative;
    }
    
    .question-count {
      margin-bottom: 20px;
      margin-right: 20px;
    }
    
    .question-count span {
      font-size: 25px;
    }
    
    .question-text {
      margin-bottom: 12px;
      font-size:50px;
    }
    
    .timer-text {
      background: rgb(230, 153, 12);
      padding: 15px;
      margin-top: 20px;
      margin-right: 20px;
      border: 5px solid rgb(255, 189, 67);
      border-radius: 15px;
      text-align: center;
    }
    
    /* ANSWERS/RIGHT SECTION */
    .answer-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
    button {
      width: 100%;
      font-size: 16px;
      color: #ffffff;
      background-color: #252d4a;
      border-radius: 15px;
      display: flex;
      padding: 5px;
      justify-content: flex-start;
      align-items: center;
      border: 5px solid #234668;
      cursor: pointer;
    }
    
    .correct {
      background-color: #2f922f;
    }
    
    .incorrect {
      background-color: #ff3333;
    }
    
    button:hover {
      background-color: #555e7d;
    }
    
    button:focus {
      outline: none;
    }
    
    button svg {
      margin-right: 5px;
    }
    .select{
      color:white;
      background-color:black;
      width:100px;
      padding:3px;
      border-radius: 4px;
      height: 35px;
    }
    .card > label{
     font-size: larger;
      padding:5px;
      margin-bottom: 5px;
    }
    
    .app3 {
      background-color: #252d4a;
      width: 700px;
      min-height: 200px;
      height: min-content;
      border-radius: 15px;
      padding: 20px;
      box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
    }
    .app10 {
      background-color: #252d4a;
      
      width: 600px;
      min-height: 200px;
      height: min-content;
      border-radius: 15px;
      padding: 20px;
      box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
      display:flex;
      justify-content: space-evenly;
    }
    
    .textbutton{
      max-width: 150px;
    }
    
    .textbutton:hover{
      border-color: #ffffff;
      cursor: pointer;
    }