.din {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 10%;
}

.dout {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.loader{
    height: 70px;
    width: 70px;
    border: 15px solid #45474b;
    border-top-color: #2a88e6;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
}

@keyframes spin{
    100% {
        transform: rotate(360deg);
    }
}